# C# ignores
CS/.vs
CS/*/bin
CS/*/obj

# Go ignores
Go/pkg/*
Go/src/github.com

# Java ignores
Java/.gradle
Java/.idea
Java/gradle
Java/gradlew*
Java/out

# NodeJS ignores
NodeJS/coverage
NodeJS/node_modules
NodeJS/package-lock.json

# PHP ignores
PHP/composer.lock
PHP/composer.phar
PHP/vendor

# Python ignores
Python/*/*.pyc

# Ruby ignores
Ruby/coverage
Ruby/Gemfile.lock
Ruby/.rspec
