# C# ignores
CS/.vs
CS/*/bin
CS/*/obj

# Java ignores
Java/.gradle
Java/.idea
Java/gradle
Java/gradlew*
Java/out

# NodeJS ignores
NodeJS/coverage
NodeJS/node_modules
NodeJS/package-lock.json

# Python ignores
Python/*/*.pyc

# Ruby ignores
Ruby/coverage
Ruby/Gemfile.lock
Ruby/.rspec
